<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>Home Beauty</name>

        <description>
        Home Beauty - Salão de Beleza Delivery
        </description>

        <author href="http://yoursite.com" email="lucasrego@gmail.com">
        Lucas
        </author>
		
		<!-- Splash :: Adroid -->
		<gap:splash src="img/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="img/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="img/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="img/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
		
    </widget>